<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Add a City</title>
</head>

<body background="images/World_Map_1689.jpg" onresize="5">
<div class="container">
    <h3>Weather App</h3>
    <hr>
    <p class="h4 mb-4">Adding a City</p>

    <form action="#" th:action="@{/weather/add}"
          th:object="${city}" method="POST">

        <br>
        <span th:if="${logErrorInvalid == true}" class="error">You entered an invalid City, please try again.</span>
        <span th:if="${logErrorExists == true}" class="error">You have already entered this City, please try another.</span>
        <br>
        <br>

        <input type="text" th:field="*{cityName}" placeholder="Enter City"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/weather/citiesList}">Back to City List</a>

</div>
</body>

</html>