<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>List of Cities</title>
</head>

<body background="file://images/clouds.jpg">
<!--
<center>
   <img src="images/Live-Weather-Wallpaper-Apps.jpg" height="144" width="200" border="1" alt="image is here" />
</center>
-->
<b><font size="5"> Welcome  <td th:text="${username}"/>! </font></b>
<div class="container">
    <h3 align="center"><strong><pre>Weather App to get Temperature and Humidity of any requested City</pre></strong></h3>
<hr>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>City</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th> </th>
    </tr>
    </thead>
    <a th:href="@{/logout}" class="btn btn-info btn-sm mb-4">Logout</a>

    <tbody>
    <tr th:each="tempCity : ${cities}">
        <td th:text="${tempCity.cityName}"/>
        <td th:text="${tempCity.temp}"/>
        <td th:text="${tempCity.humidity}"/>
        <td align="right">
            <a th:href="@{/weather/delete(cityId=${tempCity.id})}" class="btn btn-danger btn-sm"
            onclick="if (!(confirm('Are you sure you want to delete this City?'))) return false">Delete</a>
        </td>
    </tr>

    <td colspan="4" align="right">
    <a th:href="@{/weather/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add City</a>
    </td>
    </tbody>

</table>

</div>
</body>

</html>